@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

div.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
} 

table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: 'Montserrat';
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #0D98BA;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th,
td {
    padding: 12px 15px;
}

th {
    text-align: left;
    cursor: pointer;
}

table tbody tr {
    border-bottom: 1px solid #dedede;
}

table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #0D98BA;
}

th span {
    float: right;
}